*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: left;
    padding: 5rem;
}

.return{
    text-align: center;
}

table td{
    padding: 1rem;
}

.test{
    display: flex;
    flex-direction: column;
}

.test-1{
    display: none;
}
.table-view{
    display: none;
}
